extends layout
block content
  h1 Author: #{results.author.name}
  p #{results.author.formatted_date_of_birth} - #{results.author.formatted_date_of_death}
  hr
  h3 Books
  each val in results.book
    dl
      dt 
        a(href=val.url) #{val.title}
      dd #{val.summary}
  else 
    p This author has no books
  hr
  p
    a(href=results.author.url+'/delete') 
      button.btn.btn-primary(type='button') Delete Author
  p 
    a(href=results.author.url+'/update')
      button.btn.btn-primary(type='button') Update Author