extends layout
block content
  h1 #{title}
  if genre_books.length>0
    p Delete the following books before attempting to delete this genre.
    for book in genre_books
      dl
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}
  else
    p Are you sure you want to delete #{genre.name} genre?
    form(action='' method='POST')
      div.form-group
        input#genreid.form-control(type='hidden' name='genreid' value=genre._id)
      button.btn.btn-primary(type='submit') Delete